body{
	background: url('../img/textures/congruent_outline.png');
}
#header{
	background-color: #F8F8F8;
}

.imgArtist{
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-filter: grayscale(100%);
	/* transition-timing-function property */
	-webkit-transition: all 1s ease-out;	/* ease-out	Specifies a transition effect with a slow end (equivalent to cubic-bezier(0,0,0.58,1)) */
       -moz-transition: all 1s ease-out;
         -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
            transition: all 1s ease-out;
}
.divArtist{
	text-align: center;
}
.imgArtist:hover{
	cursor: pointer;
	border-color: #F8F8F8;
}
#infoArtist{
	width: 100%;
	min-height: 580px;
	background-color: #222;
	border-radius: 6px;
	background: url('../img/textures/congruent_outline.png'); 
	display: none;
}
.closeImage{
	border-radius: 6px;
	width: 40px;
	position: absolute;
	top: 1%;
	right: 2%;
	
}
.closeImage:hover{
	cursor: pointer;
	
}
