body{
	background: url('../img/textures/congruent_outline.png');
}
#header{
	background-color: #F8F8F8;
}

.imgArtist{
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-filter: grayscale(100%);
	/* transition-timing-function property */
	-webkit-transition: all 1s ease-out;	/* ease-out	Specifies a transition effect with a slow end (equivalent to cubic-bezier(0,0,0.58,1)) */
       -moz-transition: all 1s ease-out;
         -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
            transition: all 1s ease-out;
    
}
.divArtist{
	text-align: center;
	display:block;
}

#divArtists .row:nth-child(1){
	margin: 0% 2%;
}
#divArtists .row:nth-child(2){
	margin: 0% 5%;
}

#divArtists .row:nth-child(1) .divArtist{
	padding-bottom: 1%;
}
#divArtists .row:nth-child(2) .divArtist{
	padding-bottom: 1%;
}
#divArtists{
	height: 100%;
}
.imgArtist:hover{
	cursor: pointer;
	border-color: #F8F8F8;
}
#infoArtist{
	display: none;
	height: 100%;
}
/* close an artist description*/
.closeImage{
	border-radius: 6px;
	width: 40px;
	position: relative;
	right: 0%;
}

.closeImage:hover{
	cursor: pointer;
}
/* container of each artist image, on general section*/
.divArtist>div{
	width: 80%;
	text-align: center;
}
#infoArtist>div.row{
	margin: 2% 0%;
}
