footer {
  font-size: 14px;
  background-color: #222;
}
/* left part of footer (contact & newsletter) */
#contactNews {
	padding-top: 14px;
}
/* right part of footer (social) */
#social {
	padding-top: 7px;
	padding-bottom: 7px;
}
.img-circle {
	width: 40px;
	-webkit-filter: grayscale(100%);
	/* transition-timing-function property */
	-webkit-transition: all 1s ease-out;	/* ease-out	Specifies a transition effect with a slow end (equivalent to cubic-bezier(0,0,0.58,1)) */
       -moz-transition: all 1s ease-out;
         -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
            transition: all 1s ease-out;
}
.img-circle:hover {
	-webkit-filter: grayscale(0%);
}
#h5_contact {
	margin-top: 2px;
	margin-left: 25%;
}