body 
{
    font-family:Verdana;
    color:#999; 
    background-color:#F8F8F8;
    padding-top: 1%;
}

#img_logo{
	width:117%;
	height:120px;
}

.carousel-inner>.item>img{
	width:100%;
	margin-bottom: 1%;
}

#menu{
	height:100%;
	min-height:358px;
}

#menu>div{
	padding: 0px;
}

#content{
	height:100%;
	min-height:135px;
}