body {
    font-family: Verdana;
    color: #999;
    background-color: #F8F8F8;
}
/* Contenedor General */
#content {
	min-height: 500px;
}
/* Division between content's rows */
#content>:first-child {
	border-bottom: 2px solid #999;
}
/* Banner */
.carousel-inner>.item>img {
	margin-bottom: 1%;
}
#videoBackground {
	height: 100%;
	width: 100%;
}
textarea {
    resize: none;
    font-size: 5px;
}
/*-------------------- INPUTS --------------------*/
input[type='text'] {
	color: #444242;
	font-size: 17px;
	border-radius: 2px;
	padding: 2px;
}
input[type='text']:focus {
	background-color: #DDDCDC;
	border: 2px inset #444242;
	outline: 0px;
}
/*-------------------- BUTTONS --------------------*/
button {
      background-color: #101010;
      color: #999;
}
.btn:hover {
	color: white !important;
}
.btn:focus {
	color: #999;
	outline: 0px;
}
/*-------------------- RELEASES section --------------------*/
/* Home */
#releases {
    /*max-height: 400px;*/
    border-right: 2px solid #999999;
}
.frontRelease img {
    max-height: 200px;
}
.infoRelease {
    padding: 20% 5%;
}
.titleRelease {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 2px;
}
.artistRelease {
	font-size: 10px;
}