.modal-header
{
    background-color:#101010;
}

.modal-body{
	background-color:#F8F8F8;
    padding-top:0px;
    padding-bottom:0px;
}

.modal-footer
{
    background-color:#101010;
    margin-top: 0px;
}
/* Boton cerrar modal*/
.close
{
    background-color:#F8F8F8;
    color:#F8F8F8;
}
.close:hover
{
    color:white;
}

/* --------------------------MODAL NEWSLETTER ------------------------------------*/
/* label modal newsletter */
#modal-newsletter{
	padding:0px;
}
/* button yes please newsletter*/
#a_newsletter{
	margin-left:37%;
}
/* input newsletter*/
#input_email{
	margin: 2%;
	width:70%;
}
#modal_body_newsletter{
	padding: 5% 4%;
	height: 40%;
}

/*------------------------------ MODAL CONTACT ------------------------------------*/
#modal_dialog_contact{
	height: 500px;
	width: 800px !important;
}
/* label modal contact */
#modal-contact{
	padding: 0px;
}
#modal_body_contact{
	padding: 5% 17.5%;
	height: 500px;
}
#stage{
	width: 100%;
	height: 400px;
}

#spinner div {
    position: absolute;
    width: 520px;
    height: 390px;
    border: 1px solid #ccc;
    background: rgba(255,255,255, 1);
    text-align: center;
    line-height: 120px;
    font-size: 50px;
  }

  #face1 { -webkit-transform: translateZ(260px);}
  #face2 { -webkit-transform: rotateY(90deg) translateZ(260px);}
  #face3 { -webkit-transform: rotateY(180deg)  translateZ(260px);}
  

@-webkit-keyframes turnRight {
    from,to  {                                                    }
    100%      { -webkit-transform: rotateY(-90deg);                }
}

.turnRight {
    -webkit-animation-name: turnRight;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: normal;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 260px 260px 0;
}
