.modal-header
{
    background-color:#101010;
}

.modal-body{
	
	background-color:#F8F8F8;
    padding-top:0px;
    padding-bottom:0px;
}

.modal-footer
{
    background-color:#101010;
    margin-top: 0px;
}
/* Boton cerrar modal*/
.close
{
    background-color:#F8F8F8;
    color:#F8F8F8;
}
.close:hover
{
    color:white;
}

/* --------------------------MODAL NEWSLETTER ------------------------------------*/
/* label modal newsletter */
#modal-newsletter{
	padding:0px;
}
/* button yes please newsletter*/
#a_newsletter{
	margin-left:37%;
}
/* input newsletter*/
#input_email{
	margin: 2%;
	width:70%;
}
#modal_body_newsletter{
	padding: 5% 4%;
	height: 40%;
}
