.carrousel_inner ul li img{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    -webkit-filter: grayscale(100%);
	/* transition-timing-function property */
	-webkit-transition: all 1s ease-out;	/* ease-out	Specifies a transition effect with a slow end (equivalent to cubic-bezier(0,0,0.58,1)) */
       -moz-transition: all 1s ease-out;
         -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
            transition: all 1s ease-out;
}
.carrousel_inner ul li img:hover{
    -webkit-filter: grayscale(0%);
    cursor: pointer;
}
.carrousel_inner ul li{
    float:left;
    list-style: none;
    margin: 0;
    height: 100%;
}
.carrousel_inner ul{
    margin:0;
    padding:0;
    overflow:hidden;
    height: 100%;
}
.carrousel_inner{
    /* border:1px solid red; */
    float:left;
    height: 210px;
    overflow: hidden;
  	width: 95.4%;
}
.carrousel_left, .carrousel_right{
    height: 210px;
    width:30px;
    float:left;
}
.carrousel_left{
    background: url("nav_left.gif") no-repeat left top;
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 20px; 
}
.carrousel_left:hover{
	cursor: pointer;
    background:url("nav_left.gif") no-repeat scroll -50px top transparent;
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 20px; 
}
.carrousel_right{
    background: url("nav_right.gif") no-repeat right top;
    border-bottom-right-radius: 20px; 
    border-top-right-radius: 20px; 
}
.carrousel_right:hover{
    background: url("nav_right.gif") no-repeat -70px top;
    border-bottom-right-radius: 20px; 
    border-top-right-radius: 20px; 
    cursor: pointer;
}
.left_inactive,.left_inactive:hover{
    background: url("nav_left.gif") no-repeat -100px top;
    border-bottom-left-radius: 20px; 
    border-top-left-radius: 20px; 
    cursor: default;
}
.right_inactive,.right_inactive:hover{
    background: url("nav_right.gif") no-repeat -20px top;
    border-bottom-right-radius: 20px; 
    border-top-right-radius: 20px; 
    cursor: default;
}
.carrousel{
    height: 210px;
    margin: 2% 0.55%;
   
}
