#footer 
{
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  font-size:15px;
  background-color:#101010;
  height:50px;
}
body 
{
    font-family:Verdana;
    color:#888888  ;
    background-color:#F8F8F8;
}

textarea
{
     resize: none;
     width:400px; 
     height:150px;
}

.txt_email 
{
    width:402px;
}

.modal-footer
{
    background-color:#101010;
}

.modal-header
{
    background-color:#101010;
}

.modal-body
{
    background-color:#F8F8F8;
    padding-top:0px;
    padding-bottom:0px;
}

.close
{
    background-color:#F8F8F8;
    color:#F8F8F8;
}

button
{
      background-color:#101010;
      color:#F8F8F8;
}