#Lema
{
    height:200px;
    width:670px;
    float:left;
}

#Video
{
    height: 200px;
    float:left;
    width:670px;
}

#LastReleases 
{
    height:400px;
    float:left;
    width:500px;
}

#NextEvent 
{
    float:left;
    height:200px;
    width:420px;
}

#LastPodcast 
{
    float:left;
    height:200px;
    width:420px;
}
#LastShares 
{
    float:left;
    height:200px;
    width:840px;
}